<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartNinja basic Jinja template</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Dobrodošli v kalkulator</h1>
    <form method="post" action="/">
        Prvo število:<br>
        <input type="text" name="prvoStVnos"><br>
        <br>
        <select name="operacijaVnos">
            <option value="+">Seštevanje</option>
            <option value="-">Odštevanje</option>
            <option value="/">Deljenje</option>
            <option value="*">Množenje</option>
        </select><br>
        <br>
        Drugo število:<br>
        <input type="text" name="drugoStVnos"> <br>
            <br>
        <input type="submit" value="Izračunaj">
        <br>
         {% if rezultat %} Rezultat: {{ rezultat }} {% else %} {% endif %}


    </form>
</body>
</html>